name: OpenTelemetry - Export OTel Traces and Logs to Dynatrace

on:
  workflow_run:
    workflows: ['*']
    types: [completed]

permissions: read-all

env:
  ACTION_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  OTEL_EXPORTER_OTLP_ENDPOINT: https://pocotelcollector.victorioushill-a78a0db8.westeurope.azurecontainerapps.io/v1/traces
  OTLP_PROTOCOL: HTTP
  WORKFLOW_RUN_ID: ${{ github.event.workflow_run.id }}
  WORKFLOW_RUN_NAME: ${{ github.event.workflow_run.name }}
  OTEL_EXPORTER_OTLP_HEADERS: Authorization=Api-Token ${{ NULL }}
  GITHUB_DEBUG: false

jobs:

  OTLP-GitHubAction-Exporter :
    name: OTLP GitHubAction Exporter
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run OTLP GitHubAction Exporter
        uses: mathu211/OTLP-GitHubAction-Exporter
