name: OpenTelemetry - Export OTel Traces and Logs to NewRelic

on:
  workflow_run:
    workflows: ['*']
    types: [completed]

permissions: read-all

env:
  ACTION_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  OTEL_EXPORTER_OTLP_ENDPOINT: https://pocotelcollector.victorioushill-a78a0db8.westeurope.azurecontainerapps.io/v1/traces
  OTLP_PROTOCOL: GRPC
  WORKFLOW_RUN_ID: ${{ github.event.workflow_run.id }}
  WORKFLOW_RUN_NAME: ${{ github.event.workflow_run.name }}
  OTEL_EXPORTER_OTLP_HEADERS: api-key=${{ NULL }}
  GITHUB_DEBUG: false

jobs:

  NewRelic-GitHubAction-Exporter:
    name: NewRelic GitHubAction Exporter
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run NewRelic GitHubAction Exporter
        uses: StephenGoodall/OTLP-GitHubAction-Exporter@v3